.icon-left {
  position: absolute;
  top: 30px;
  left: 30px;
}

.icon-right {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.season-display.winter i {
  color: blue;
}

.season-display.summer i {
  color: red;
}

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.winter {
  background-color: rgb(191, 225, 255);
}

.summer {
  background-color: orange;
}
